.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-bottom: 46px;
  box-sizing: content-box;
}

@media screen and (max-width: 319px) {
  .lead {
      padding-bottom: 39px;
  }
}