.intro {
  max-width: 690px;
  flex-direction: column;
  margin: 0 0 0 148px;
  padding-top: 46px;
  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .intro {
      margin: 0 0 0 48px;
  }
}