.intro {
  max-width: 690px;
  flex-direction: column;
  margin: 0 0 0 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
      margin: 0 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
      margin: 32px 16px 0 16px;
  }
}