.cover {
  max-width: 1184px;
  width: 100%;
  height: 100vh;
  max-height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto auto 92px auto;
  position: relative;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
  }
}


@media screen and (max-width: 768px) {
  .cover {
    margin: auto auto 88px auto;
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    max-width: 640px;
    max-height: 320px;
    margin: auto auto 72px auto;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    max-width: 320px;
    max-height: 200px;
    margin: auto auto 64px auto;
  }
}